
    

{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'contacts:contact-list' %}">go back to contact list</a>
    <h1>detail for :{{contacts.name}}</h1>
    <hr>
    <div class="contact">
        <p>{{ contacts.name }}</p>
        <p>{{ contacts.email }}</p>
        <p>{{ contacts.phone }}</p>

    </div>
    <hr>
    <a href="{% url 'contacts:contact-update' contacts.pk %}">update </a> <br>
    <a href="{% url 'contacts:contact-delete' contacts.pk %}">delete </a>


{% endblock content %}